body{
  background-color: #050055;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #050055;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, #050055);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, #050055);
}

#logoDomboom {
  padding-bottom: 15%;
}

#loginButton {
  background-color: #14ff00;
  opacity: 100%;
}

#typeUserX {
  padding-left: 8%;
}

#typePasswordX {
  padding-left: 8%;
}
