#mainBody{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 0, 85);
}
header{
    border: solid yellow 2px;
}
#navbarButton{
    background-color:rgb(20, 255, 0);
}
#navbarOptions li:hover{
    background-color: rgb(20, 255, 0);
}
.menuOptions{
    color: white;
    text-decoration:none;
}
#sectionText{
    border: solid green 2px;
}
#sectionDrums{
    border: solid rgb(255, 0, 0) 2px;
}
#sectionPremium{
    border: solid rgb(0, 247, 255) 2px;
}
#mainTitle, #subtitle, #premiumTitle, #premiumSubtitle{
    color: white;
}
.greenButtons{
    background-color: rgb(20, 255, 0);
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    color: white;
}
.circleInt{
     fill-opacity:0.5;
     stroke-width:8;
     stroke:#0527bdbd;
}
.textInt{
     fill:#ffffff;
     font-size: .9rem;
     font-weight: 800;
}

.color {
     transition: fill 1s, stroken 2s;
}

.orange{
     fill: #ff9900;
}
.blue{
     fill: #0075ff;
}
.green{
     fill:#14ff00;
}
.red{
     fill: #ff0000;
}